.input{
    border-radius: 2px;
    border: 1px solid gray;
    padding: 10px;
    width: 300px;
    margin-right: 3px;
}
.gallery{
    width: 500px;
    margin: 0 auto;
}
.button{
    border-radius: 2px;
    background: teal;
    padding: 10px;
    border: 1px solid black;
}
.description{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: left;
    list-style: none;
}